/* Orange (#F9B872, #FAE7A5), powder blue (#B6E1E7) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.App {
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 160px;
  margin-top: 0px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 100px 100px ;
  grid-template-columns: 1fr;
  background-color: #B6E1E7 ;
  color:white;

}

.row1 {
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2;
}

/* icon */
.item-1 {
  flex: 0 0 auto;
  width: fit-content;
  flex-direction: row;
}

/* heading */
.item-2 { 
  margin: 0 auto; 
  font-size: 48px;
  text-align: center;
  width: 100%; 
 
}


.row2 {
  grid-row-start: 2;
  grid-row-end:3;
  display:flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  gap: 1.5rem;
  box-sizing: border-box;
}

.row2 img {
  margin-bottom: 30px;
}
.text {
 padding-top:8px;
 padding-bottom:8px;
 padding-left: 25px;
 padding-right: 25px;
 border-radius: 5px;
  
  
}



/* multiple icons */
.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 3;
  grid-row-end:4;
  grid-column-start:1 ;
  grid-column-end:2 ;
}

.item-4 img {
  box-sizing: border-box;
  margin-left: 50px;
  padding: 8px;
  min-width: 60px;
}

.interactive {
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    display: hidden;
  }
  50% {
    
  }
  100% {
    border: transparent;
  }
  
}





.chart {
  display: flex;
  justify-content: center;
}

.rating-icon {
  margin-top: 20px;
  height:40px;
  min-width: 50px;
}

/* Chart */

.chart-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.chartitem-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:1 ;
  grid-column-end:2 ;
}

.chartitem-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:2 ;
  grid-column-end:3 ;

}

.chartitem-3 img {
  height:200px;
}

