/* Orange (#F9B872, #FAE7A5), powder blue (#B6E1E7) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.App {
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}

.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 160px;
  margin-left: 50px;
  margin-top: 0px;
}

.container {
  display: grid;
  grid-template-rows: 80px 80px ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #B6E1E7 ;
  color:white;

}

.item {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;

}

.item-1 {
  display:flex;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1 ;
  grid-column-end:2 ;
}

/* .item-2 h1 {
  margin-top: 40px;
} */
.item-2 {
  display: flex;
  /* justify-content: center; */
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:2 ;
  grid-column-end:5 ;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items:center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start:4 ;
  grid-column-end:7;
}

.item-4 {
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:4 ;
  grid-column-end:6 ;
}

.item-5 {
  display:flex;
  font-size: 24px;
  justify-content: space-between;
  
  align-items: center;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:2 ;
  grid-column-end:3 ;
}

.item-5 img {
  margin: 0;
}

.chart {
  display: flex;
  justify-content: center;
}

.rating-icon {
  height:40px;
}

/* Chart */

.chart-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.chartitem-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:1 ;
  grid-column-end:2 ;
}

.chartitem-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:2 ;
  grid-column-end:3 ;

}

.chartitem-3 img {
  height:180px;
}