/* Orange (#F9B872, #FAE7A5), powder blue (#B6E1E7) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.App {
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}

.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 160px;
  margin-left: 50px;
  margin-top: 0px;
}

.container {
  display: grid;
  grid-template-rows: 80px 80px ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #B6E1E7 ;
  color:white;

}

.item {
  width: 100%;
  height: 100%;

}

.item-1 {
  display:flex;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1 ;
  grid-column-end:2 ;
}


.item-2 {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:2 ;
  grid-column-end:5 ;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items:center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start:4 ;
  grid-column-end:7;
}

.item-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:3;
  grid-column-start:4 ;
  grid-column-end:7 ;
}

.item-4 img {
  box-sizing: border-box;
  margin-left: 50px;
  padding: 8px;
  min-width: 60px;
}

.interactive {
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    display: hidden;
  }
  50% {
    
  }
  100% {
    border: transparent;
  }
  
}

.item-5 {
  box-sizing: border-box;
  display:flex;
  text-align: center;
  font-size: 24px;
  justify-content: space-between;
  margin-left: 10px;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:2 ;
  grid-column-end:4 ;
}

.item-5 text {
  padding:20px;
  box-sizing: border-box;
  min-width: 150px;
  
}
.item-5 u {
 
  box-sizing: border-box;
  min-width: 100px;
}


.chart {
  display: flex;
  justify-content: center;
}

.rating-icon {
  margin-top: 20px;
  height:40px;
  min-width: 50px;
}

/* Chart */

.chart-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.chartitem-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:1 ;
  grid-column-end:2 ;
}

.chartitem-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end:2 ;
  grid-column-start:2 ;
  grid-column-end:3 ;

}

.chartitem-3 img {
  height:200px;
}

